.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.loading {
  text-align: center;
}
.beersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.nextPage_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .nextPage {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #d96706;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
  }
}
