.beersContainerSingle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
@media (max-width: 900px) {
  .beersContainerSingle {
    margin-top: 0px;
    margin-bottom: 420px;
  }
}
