.beerTemplate {
  height: 70vh;
  margin-right: 100px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  img {
    height: 500px;
  }

  h2 {
    color: #d96706;
  }

  h3 {
    color: #d96706;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}
.flex_c {
  display: flex;
  align-items: center;
  flex-direction: column;
}
