a.card__container {
  color: black;
}
.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin: 10px;
  margin-bottom: 50px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  padding-bottom: 20px;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  h3 {
    color: #d96706;
  }

  img {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .card__container {
    width: 250px;
    box-shadow: none;

    &:hover {
      box-shadow: none;
    }
  }
}
